/* index.css - global styles for the React app */

:root {
  font-family: 'Poppins', sans-serif;
  /* background: #000; */
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
